<html>
	
	<head>
		
		<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/grid.css">		
		<link rel="stylesheet" type="text/css" href="../../assets/css/style4.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/step2.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/step3.css">
		
		
		<script type="text/javascript" src="../../assets/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript">
			$(document).click(function(e) {
                $("#fisrtname").addClass("border_color");
            });

            

			$(document).click(function(e) {
				 $("#fisrtname").removeClass("border_color");
                $("#lastname").addClass("border_color");
            });                
		
			
                
		
                
           
		  
		</script>		
	</head>

	<body>
		
		<div class="header">
			<div class="container_12">
				<div class="grid_2 logo">
					<img src="../../assets/img/linkedin-logo.png">
				</div>	
			</div>
		</div>

		<div class="container_12">
			<div class="main">
				

				<div class="grid_8">
					<div class="sub_main_div">
							<div class="grid_7 sign_up_user_msg">
					 				Confirm your Windows Live Hotmail Account
							</div>

							<p class="grid_7"> Click below to sign in with your Windows Live Hotmail and verify your email address. </p>

							<p class="grid_7"> We will also check your Windows Live Hotmail contacts to see who you already know on LinkedIn </p>
						
							<input class="btn btn-primary grid_2" type="button" value="Confirm my Windows Live Hotmail account" name="confirm_email">
	


							<div class="grid_2 skip_process">
								<p> 
									<a href=""> Send a confirmation email </a> >>
								</p>
							</div>


					</div>


				</div>
				
				

			
			
			</div>
		</div>

		<div class="footer">
			<div class="container_12">
				<img class="grid_7 corporation-logo" src="../../assets/img/corporation-logo.png">  
			</div>
		</div>



	</body>
</html>